In [38]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [39]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2021-12-04 04:19:27,-33.6500,115.3333,84.09,36,8,0.92
1,1,Araguacu,BR,2021-12-04 04:19:28,-12.9306,-49.8264,73.96,92,100,1.01
2,2,Canico,PT,2021-12-04 04:19:28,32.6333,-16.8500,65.03,78,75,1.99
3,3,Bredasdorp,ZA,2021-12-04 04:19:29,-34.5322,20.0403,59.29,75,100,10.29
4,4,Luderitz,NaN,2021-12-04 04:19:29,-26.6481,15.1594,60.42,78,80,12.68

In [40]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [41]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [42]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [43]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [50]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2021-12-04 04:19:27,-33.6500,115.3333,84.09,36,8,0.92
8,8,Barahona,DO,2021-12-04 04:19:31,18.2085,-71.1008,76.73,84,99,0.22
13,13,Ambulu,ID,2021-12-04 04:19:33,-8.3450,113.6058,87.08,66,92,5.64
19,19,Avarua,CK,2021-12-04 04:19:36,-21.2078,-159.7750,75.25,100,75,8.05
22,22,Mahebourg,MU,2021-12-04 04:19:38,-20.4081,57.7000,83.25,69,40,10.36
25,25,Rikitea,PF,2021-12-04 04:19:16,-23.1203,-134.9692,76.60,73,71,13.76
37,37,Saint-Philippe,RE,2021-12-04 04:19:43,-21.3585,55.7679,83.75,79,22,9.78
40,40,Vaini,TO,2021-12-04 04:19:44,-21.2000,-175.2000,82.56,89,20,4.61
45,45,Eyl,SO,2021-12-04 04:19:47,7.9803,49.8164,75.09,64,2,14.94
51,51,Bac Lieu,VN,2021-12-04 04:20:49,9.2850,105.7244,78.49,69,97,8.86

In [51]:
#Determine if there are any null values
preferred_cities_df.count()

City_ID       118
City          118
Country       117
Date          118
Lat           118
Lng           118
Max Temp      118
Humidity      118
Cloudiness    118
Wind Speed    118
dtype: int64

In [52]:
preferred_cities_df = preferred_cities_df.dropna()

In [53]:
preferred_cities_df.count()

City_ID       117
City          117
Country       117
Date          117
Lat           117
Lng           117
Max Temp      117
Humidity      117
Cloudiness    117
Wind Speed    117
dtype: int64

In [54]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0        Busselton      AU     84.09 -33.6500  115.3333
8         Barahona      DO     76.73  18.2085  -71.1008
13          Ambulu      ID     87.08  -8.3450  113.6058
19          Avarua      CK     75.25 -21.2078 -159.7750
22       Mahebourg      MU     83.25 -20.4081   57.7000
25         Rikitea      PF     76.60 -23.1203 -134.9692
37  Saint-Philippe      RE     83.75 -21.3585   55.7679
40           Vaini      TO     82.56 -21.2000 -175.2000
45             Eyl      SO     75.09   7.9803   49.8164
51        Bac Lieu      VN     78.49   9.2850  105.7244

In [55]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [56]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        continue

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [57]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [59]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [60]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))